
.container-perfil {
	margin-top:25px;
	padding: 0px 0px 30px;
}
.container-perfil > .col-xs-12 {
	padding: 0px;
}
.panel {
	border-radius: 0;
	border: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}
.panel-heading {
	border-radius: 0;
	border: 1px solid #337AB7;
}
.panel-body {
	border: 1px solid #F5F5F5;
}
.container-propio {
	width:95%;
}
/*** OFERTAS *********************************************************************/
.contenedor-botones-ofertas {
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
}
.contenedor-botones-ofertas #desplegar-ofertas {
	margin-right: 10px;
}
.contenedor-botones-ofertas #plegar-ofertas {
	margin-left: 10px;
}
.contenedor-botones-ofertas button {
	font-size: 16px;
	width: 221px;
}
.oferta {
	margin-bottom: 20px;
	border: 1px solid #A2C6E5;
}
.cabecera-oferta {
		display: table;
		cursor: pointer;
		background-color: #A2C6E5;
		padding: 10px 15px;
		width: 100%;
}
.cabecera-oferta:hover {
	background-color: #95BEE1;
}
.cabecera-oferta h4 {
	float: left;
	color: #444444;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}
.cabecera-oferta h4 span {
	display: inline-block;
}
.cabecera-oferta .codigo-oferta {
	min-width: 130px;
}
.cabecera-oferta .fecha-oferta {
	min-width: 110px;
}
.cabecera-oferta .texto-oferta {
	font-weight: 400;
}
.cabecera-oferta i {
	float: right;
	font-size: 20px;
	line-height: 18px;
	font-weight: 700;
}
.lineas-oferta {
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-transition: height 300ms ease;
	-moz-transition: height 300ms ease;
	-o-transition: height 300ms ease;
	-ms-transition: height 300ms ease;
	transition: height 300ms ease;
}
.lineas-oferta table {
	width: 100%;
}
.lineas-oferta table tr:nth-child(even) {
	background-color: #f6fafa;
}
.lineas-oferta table tr:hover {
	background-color: #F5F5F5;
}
.lineas-oferta table tr th {
	border-bottom: 2px solid #CCCCCC;
}
.lineas-oferta table tr th, .lineas-oferta table tr td {
	padding: 10px;
}
.lineas-oferta table tr:not(:last-child) td {
	border-bottom: 1px solid #CCCCCC;
}
.lineas-oferta table .descripcion-articulo {
	width: 40%;
}
.lineas-oferta table .codigo-articulo, .lineas-oferta table .unidades-pedidas, .lineas-oferta table .precio, .lineas-oferta table .descuento {
	width: 15%;
}
