.nav-tabs {
	border: 0;
	position:relative;
}
.nav-tabs > li {
    margin-bottom: -2px;
		display: inline-block;
}
.nav-tabs > li > a {
	border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color:white;
	background-color: #337AB7;
	border-color: #337AB7 #337AB7 transparent;
	cursor: pointer;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
a:focus {
    outline: none;
    outline-offset: 0;
}
.panel-footer {
	display: table;
	width: 100%;
}
.panel-footer a {
	font-size: 15px;
	padding: 10px 12px;
}
.grocery-crud-table tbody td, .table-user-information tbody td {
	padding: 16px 8px !important;
}
.header-tools {
	padding: 2px !important;
}
.grocery-crud-table, .footer-tools{
	position: relative;
}
.gc-container, .container-vtiger {
	margin-top: 25px;
}
.container-vtiger {
	margin-bottom: 50px;
}
.pedido-presupuesto {
	float: right !important;
}
.pedido-presupuesto a {
	background-color: #C9E6C9 !important;
	border-color: #C9E6C9 #C9E6C9 transparent !important;
	color: #555555;
}
.pedido-presupuesto a:hover {
	background-color: #A5D6A5 !important;
	border-color: #A5D6A5 #A5D6A5 transparent !important;
	color: #333333;
}
.titulo-cliente {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.titulo-cliente h4 {
	margin: 0;
	color: #337AB7;
	text-align: center;
}
