.gc-container .clear-search {
  position: absolute;
  margin-left: -37px;
  margin-top: 0px;
  padding: 9px 9px 9px 15px;
  cursor: pointer;
}
.gc-container .clear-all-search {
  cursor: pointer;
  margin-left: -11px;
  margin-top: 3px;
  position: absolute;
}
.gc-container .clear-search:hover, .gc-container .clear-all-search:hover {
  color: #555 !important;
}
.gc-container .searchable-input.value-not-empty {
  border-color: #444;
  border-style: dashed;
}
.gc-container .column-with-ordering > div {
  float: left;
}
.gc-container .column-with-ordering > i {
  float: right;
}
.gc-container .column-with-ordering {
  cursor: pointer;
}
/*.gc-container .column-with-ordering:hover {
  background: #EDEDED !important;
  color: #000 !important;
}*/
.gc-container .column-with-ordering > div::selection {
  background: transparent !important;
}
.gc-container .column-with-ordering > div::-moz-selection {
  background: transparent !important;
}
.gc-container .only-mobiles {
  display: none;
}
.gc-container .search-button {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 40px;
  text-align: left;
  outline: none !important;
}
.gc-container .search-button input.search-input {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 0px;
  border: none !important;
  background: transparent;
}
.gc-container .search-button input.search-input-big {
  width: 140px;
}
.gc-container .search-button-big {
  width: 180px;
  background: white;
}
.gc-container .search-button-big:hover, .gc-container .search-button-big:focus, .gc-container .search-button-big:active {
  background: white !important;
}
.gc-container .header-tools {
  padding: 5px 5px 10px 5px;
  /*border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;*/
}
.gc-container .footer-tools {
  padding: 5px 5px 10px 5px;
  border: 1px solid #DDDDDD;
  border-top: none;
  margin-bottom: 20px;
}
.gc-container table.grocery-crud-table {
  margin-bottom: 0px;
}
.gc-container span.page-number-input-container {
  padding: 4px 10px !important;
}
.gc-container span.page-number-input-container .page-number-input {
  height: 24px !important;
  width: 50px !important;
  padding: 2px 3px !important;
}

@media (max-width: 350px) {/*
  table.grocery-crud-table tr th:nth-child(3),
  table.grocery-crud-table tr td:nth-child(4) {
    display: none;
  }*/
}
@media (max-width: 480px) {/*
  table.grocery-crud-table th:nth-child(4),
  table.grocery-crud-table th:nth-child(5),
  table.grocery-crud-table th:nth-child(6),
  table.grocery-crud-table th:nth-child(7),
  table.grocery-crud-table th:nth-child(8),
  table.grocery-crud-table td:nth-child(5),
  table.grocery-crud-table td:nth-child(6),
  table.grocery-crud-table td:nth-child(7),
  table.grocery-crud-table td:nth-child(8),
  table.grocery-crud-table td:nth-child(9),
  table.grocery-crud-table td:nth-child(10) {
    display: none;
  }*/

  table.grocery-crud-table td:nth-child(2) select,
  table.grocery-crud-table td:nth-child(1) input[type="checkbox"],
  .delete-selected {
    display: none;
  }

  table.grocery-crud-table td:nth-child(1) {
    padding: 0px;
  }

  table tbody tr td:nth-child(1) {
    border-right: none !important;
  }

  .pagination .page-number {
    display: none;
  }

  .only-desktops {
    display: none;
  }

  .only-mobiles {
    display: block !important;
  }
}
@media (max-width: 560px) {/*
  table.grocery-crud-table th:nth-child(4),
  table.grocery-crud-table th:nth-child(5),
  table.grocery-crud-table th:nth-child(6),
  table.grocery-crud-table th:nth-child(7),
  table.grocery-crud-table th:nth-child(8),
  table.grocery-crud-table td:nth-child(5),
  table.grocery-crud-table td:nth-child(6),
  table.grocery-crud-table td:nth-child(7),
  table.grocery-crud-table td:nth-child(8),
  table.grocery-crud-table td:nth-child(9),
  table.grocery-crud-table td:nth-child(10) {
    display: none;
  }*/

  .pagination .page-number {
    display: none;
  }
}
@media (max-width: 700px) {/*
  table.grocery-crud-table th:nth-child(5),
  table.grocery-crud-table th:nth-child(6),
  table.grocery-crud-table th:nth-child(7),
  table.grocery-crud-table th:nth-child(8),
  table.grocery-crud-table td:nth-child(6),
  table.grocery-crud-table td:nth-child(7),
  table.grocery-crud-table td:nth-child(8),
  table.grocery-crud-table td:nth-child(9),
  table.grocery-crud-table td:nth-child(10) {
    display: none;
  }*/

  .pagination .page-number {
    display: none;
  }
}
@media (max-width: 960px) {/*
  table.grocery-crud-table th:nth-child(6),
  table.grocery-crud-table th:nth-child(7),
  table.grocery-crud-table th:nth-child(8),
  table.grocery-crud-table td:nth-child(7),
  table.grocery-crud-table td:nth-child(8),
  table.grocery-crud-table td:nth-child(9),
  table.grocery-crud-table td:nth-child(10) {
    display: none;
  }*/

  .pagination .page-number {
    display: none;
  }
}

/*** PROPIO **********************************************************************************************/

.gc-container .footer-tools{
	background-color:#337ab7;
	color:white;
	border-color:#337ab7;
}

.celda-acciones {
	background-color:#337ab7;
	color:white;
	border-color:#337ab7 !important;
}
.celda-titulo-columna {
	border-color:#337ab7 !important;
  background-color: #337ab7;
  border-color: #337ab7 !important;
  color: white;
}
.gc-container .column-with-ordering:hover {
  background: #265B89 !important;
  color: white !important;
}

.gc-refresh {
	padding: 9px 12px !important;
}

.odd {
	background-color: #f6fafa;
}

.even {
	background-color: #ffffff;
}
.grocery-crud-table, .footer-tools {
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}
.titulos-columnas {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
select.searchable-input{
	min-width:60px;
}
select.searchable-input option:first-child{
	color:#B0B0B0;
}
select.searchable-input option {
	padding: 10px 5px;
}
.div-cargando{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	font-size: 40px;
	color:black;
	padding-top:10%;
	z-index:5;
}
.fondo-cargando{
	position:fixed;
	opacity:0.6;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:white;
}
.column-with-ordering {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.container-propio {
	width:95%;
}
.gc-container .table-section {
	margin-bottom: 70px;
}
