/*** General ***/
.container-propio {
    width: 95%;
    padding: 0px;
}
.gc-container.container-propio {
	width: 100%;
	padding: 0px;
}
.gc-container .table-section {
	margin-bottom: 0;
}
.form-group {
	margin-bottom: 10px;
}
.panel {
	border-radius: 0;
	border: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}
.panel-heading {
	border-radius: 0;
	border: 1px solid #337AB7 !important;
}
.panel-body {
	border: 1px solid #F5F5F5;
}
h4 {
	margin: 0;
	color: #337AB7;
}
.floatR {
	display:table;
	float:right;
}
select option {
	padding: 10px;
}
.marg-top-10 {
	margin-top: 10px;
}
.marg-top-35 {
	margin-top: 35px;
}
.marg-r-15 {
	margin-right: 15px;
}
.text-primary {
	color: #337AB7;
}
.panel-heading h3{
	color: white;
	margin: 0;
	padding: 4px 0px;
}
.btn-danger-2 {
	background-color: #F78181;
    border-color: #FA5858;
    color: #FFFFFF;
}
.btn-danger-2:hover, .btn-danger-2:focus {
	background-color: #FA5858;
    color: #FFFFFF;
}
#boton-borrador {
	margin-right: 10px;
}
textarea {
	resize: none;
}
.input-group #codigo_nombre_cliente, .input-group #codigo_nombre_articulo {
	border-left: 0;
	border-right: 0;
}
.buscador-input {
	background-color:#337AB7;
	color:white;
	cursor: pointer;
	border: 0px;
}
.buscador-input:hover {
	background-color:#4BBDFF;
}
.limpiar-input {
	background-color: #F78181;
	color: #FFFFFF;
	border: 0px;
	cursor: pointer;
}
.limpiar-input:hover {
	background-color: #FA5858;
}
.titulos-columnas-lineas {
	font-weight: bold;
}
#add-articulo {
	padding: 9px 12px;
}
.padding-left {
	padding-left: 15px !important;
}
.padding-right {
	padding-right: 15px !important;
}
.cols-menos-padding .col-xs-5, .cols-menos-padding .col-xs-1, .cols-menos-padding .col-xs-7 {
	padding-left: 3px;
	padding-right: 3px;
}
.lineas-pedido .form-control {
	padding: 6px 6px;
}
.simbolo-input {
	padding: 6px 1px;
}
.columna {
	position: relative;
	float: left;
	padding-left: 3px;
	padding-right: 3px;
}
.columna-6 {
	width: 6%;
}
.columna-10 {
	width: 10%;
}
.columna-20 {
	width: 20%;
}
.columna-25 {
	width: 25%;
}
.columna-32 {
	width: 32%;
}
.columna-37 {
	width: 37%;
}
.columna-52 {
	width: 52%;
}
.columna-62 {
	width: 62%;
}
.columna-66 {
	width: 66%;
}
.columna-72 {
	width: 72%;
}
.col-xs-1-plus {
	width: 10%;
}
.col-xs-1-min {
	width: 6%;
}
.col-xs-5-plus {
	width: 52%;
}
.col-xs-6-plus {
	width: 62%;
}
.col-xs-7-plus {
	width: 66%;
}
.col-xs-8-plus {
	width: 72%;
}
.filter-row {
	background-color: #FFFFFF;
}
.clear-search{
	cursor: pointer;
	margin-left: -37px;
	margin-top: 0px;
	padding: 9px 9px 9px 15px;
	position:absolute;
}
.celda-titulo-columna {
	background-color: #337AB7;
	color: white;
}
.fila-cliente {
	background-color:#A2C6E5;
	font-weight: bolder;
	color: #444;
}
.fila-cliente:hover {
	background-color:#A2C6E5 !important;
}
.fila-cliente td {
	padding: 10px !important;
}
.prioridad-linea {
	width: 35px;
}
.modal-dialog {
	margin: 30px auto 15px auto;
}
.modal-dialog .close {
	color:white;
	opacity: 1;
}
.gc-container .row {
	margin: 0px !important;
}
.modal-dialog .footer-tools, .modal-dialog form {
	margin-bottom: 0;
}
#boton-cargar-mas-articulos{
	margin-top: 10px;
	margin-left: 10px;
}
.contenedor-cerrar-modal {
	text-align: center;
}
.lineas-pedido button {
	height: 34px;
  width: 100%;
}
.lineas-pedido .boton_stock_articulo {
	font-size: 12px;
	text-align: left;
	width: 100%;
	padding: 6px;
}
.lineas-pedido .boton_stock_articulo span {
	display: block;
	width: 100%;
	overflow: hidden;
}
.lineas-pedido .boton_stock_articulo:disabled {
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
}
.lineas-pedido .boton_stock_articulo.btn-danger {
	background-color: #FFFFFF;
	color: #d9534f;
	border-color: #d9534f;
}
.lineas-pedido .boton_stock_articulo.btn-warning {
	background-color: #FFFFFF;
	color: #eea236;
	border-color: #eea236;
}
.lineas-pedido .boton_stock_articulo.btn-success {
	background-color: #FFFFFF;
	color: #4cae4c;
	border-color: #4cae4c;
}
.lineas-pedido .boton_stock_articulo:not(:disabled):hover {
	border-color: #555555;
}
.required {
	color:red;
}
#mensaje-borrador, #mensaje-enviado {
	position:fixed;
	top: 15px;
	right: 15px;
	width: 300px;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.opaco {
	opacity: 1;
}
.transparente {
	opacity: 0;
}
.text-centered {
	text-align: center;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:focus{
	outline: none;
	outline-offset: none;
}
#nueva-linea #codigo_articulo {
	width: 40%;
	border-left: 0;
}
#nueva-linea #nombre_articulo {
	width: 60%;
	border-left: 0;
	border-right: 0;
}
/*** Información plegable ***/
.informacion-plegable {
	display: block;
	border: 1px solid #aeaeae;
	width: 100%;
}
.cabecera-informacion-plegable {
	display: block;
	background-color: #aeaeae;
	padding: 0px 5px;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}
.cabecera-informacion-plegable > span {
	font-size: 23px;
}
.informacion-plegable-hover{
	border: 1px solid #cecece;
}
.cabecera-informacion-plegable-hover{
	background-color: #cecece;
}
.cuerpo-informacion-plegable {
	display: block;
	padding: 5px 10px;
	width: 100%;
	height: 292px;
	background-color: #F5F5F5;
	overflow: hidden;
	-webkit-transition: height .5s, padding .5s;
    -moz-transition: height .5s, padding .5s;
    -ms-transition: height .5s, padding .5s;
    -o-transition: height .5s, padding .5s;
    transition: height .5s, padding .5s;
}
.informacion-plegada {
	padding: 0px 10px;
	height: 0px;
}
/*** Total pedido ***/
#ultima-fila .recuadro-total-pedido {
	float: right;
	background-color: #337AB7;
	color: #FFFFFF;
	padding: 10px 20px;
}
#total-pedido {
	display: inline-block;
	text-align: right;
	min-width: 75px;
}
