.container-propio {
    width: 95%;
    padding: 0px;
}
.user-row {
    margin-bottom: 14px;
}
.user-row:last-child {
    margin-bottom: 0;
}
.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}
.dropdown-user:hover {
    cursor: pointer;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.container-perfil {
	margin-top:25px;
	padding: 0px;
}
.container-perfil > .col-xs-12 {
	padding: 0px;
}
.panel {
	border-radius: 0;
	border: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}
.panel-heading {
	border-radius: 0;
	border: 1px solid #337AB7;
}
.panel-body {
	border: 1px solid #F5F5F5;
}
h4 {
	margin: 0;
}
.marg-top-15 {
	margin-top: 15px;
}

