/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: #999;
  font: 400 16px/1.5em sans-serif;
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #1dabb8;
}

fieldset {
  border: none;
  margin: 0;
}

form {
	margin:0px;
}

input {
  color:#282830;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  margin-top: 2px;
  -webkit-appearance: none;

}
input:-webkit-autofill{
	 -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

.clearfix {
  *zoom: 1;
  padding:10px 0px;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: block;
}
.clearfix:after {
  clear: both;
}

@media screen and (min-height: 500px) and (min-width: 400px) {
	.container {
	  left: 50%;
	  position: absolute;
	  top: 40%;
	  -webkit-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 400px)   {
	.container {
		margin-top:10px;
	}
}
@media screen and (max-height: 500px){
	.container {
		margin-top:10px;
	}
}


/* ---------- formulario ---------- */
#formulario {
  width: 345px;
  margin:0 auto;
}

#formulario h3 {
  background-color: #007D5D;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#formulario fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}

#formulario fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

#formulario input {
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
}

#formulario input[type="email"],
#formulario input[type="password"],
#formulario input[type="text"] {
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  width: 99%;
}

#formulario input[type="submit"] {
  background: #007D5D;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
}

#formulario input[type="submit"]:hover {
  background: #00644A;
}

#formulario input[type="button"] {
  background: #007D5D;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
  cursor:pointer;
}

#formulario input[type="button"]:hover {
  background: #00644A;
}

#formulario footer {
  font-size: 12px;
  margin-top: 16px;
}

.info {
  background: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}
#mensaje {
	color:#BE0102;
	width:50%;
	float:left;
	margin:0;
	padding-top:15px;
}
#div-mensaje-inferior {
	background-color: #7CC464;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	width:345px;
	transition:opacity 1s;
}
#mensaje-inferior {
	padding:10px;
	color:white;
}

#formCambiar-nombre {
  	border-radius: 3px 3px 0 0 !important;
  	border-top: 1px solid #dcdcdc !important;
}

#formCambiar-apellidos {
  	border-radius: 3px 3px 0 0 !important;
  	border-top: 1px solid #dcdcdc !important;
}

#formCambiar-telefono {
  	border-radius: 3px 3px 0 0 !important;
  	border-top: 1px solid #dcdcdc !important;
}

#formCambiar-password0 {
  	border-radius: 3px 3px 0 0 !important;
  	border-top: 1px solid #dcdcdc !important;
}

#grecaptcha {
	padding: 10px 0 0 0;
}

.etiqueta {
	margin: 10 0 0 5;
	font-size:13px;
}
#div-focusable {
  height: 0;
  width: 0;
  overflow: hidden;
}

/*** Imagen logo ***/
#logo {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}
#logo img {
	width: 100px;
	margin-bottom: 50px;
}
@media (max-height: 550px) {
	#logo img {
		margin-bottom: 25px;
	}
}
@media (max-height: 430px) {
	#logo img {
		display: none;
	}
}

/*** Modal de la Key ***/
#introducir-key-login .modal-dialog {
  max-width: 90%;
  width: 400px;
  overflow-y: inherit;
}
#introducir-key-login .boton-x-emergente {
  top: -13px; left: -13px;
}
#introducir-key-login .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#introducir-key-login .modal-body {
  padding: 30px 30px 15px;
}
#introducir-key-login p {
  color: #444444;
  text-align: justify;
}
#introducir-key-login .modal-footer {
  border-top: none;
  padding: 0px 30px 30px;
}
