.container-propio {
    width: 95%;
    padding: 0px;
}
.boton-arriba-pagina {
	position:fixed;
	bottom: 3%;
	right: 3%;
	padding: 11px 14px;
	background-color: #337AB7;
	color: #FFFFFF;
	opacity: 0.7;
	border-radius: 22px;
	border: 1px solid #19609D;
	font-size: 21px;
}
.boton-arriba-pagina:hover {
	opacity: 0.9;
}
.trabajando-aqui { /* Colocar esto para el mensaje <div class="trabajando-aqui">Trabajando en esta sección, puede haber errores</div> */
	width: 100%;
	padding: 20px;
	background-color: #C9302C;
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
}
.form-control[disabled], fieldset[disabled] .form-control, .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: default;
}
.cliente-tarifa2 {
	color: #3CB371;
}
.floatR {
	float: right;
}
.required {
	color: #FF0000;
}
.subrayado-azul {
	text-decoration: underline;
	text-decoration-color: #337AB7;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.no-negrita {
	font-weight: 400;
}
.pad0 {
  padding: 0;
}
/*** Ventana emergente ***/
.pantalla-emergente {
	background-color: rgba(89, 89, 89, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.pantalla-emergente .cuadro-emergente {
	border: 2px solid #337ab7;
	max-height: 90%;
    width: 90%;
    overflow-y: auto;
    z-index: 1000;
}
.pantalla-emergente .cabecera-emergente {
	background-color: #337ab7;
}
.pantalla-emergente .titulo-emergente {
	color: white;
    font-weight: bold;
}
.modal-content {
	border: 0;
	border-radius: 0;
}
.boton-x-emergente {
	position: absolute;
	left: 4%;
	top: 15px;
	padding: 4px 10px;
	border-radius: 15px;
	z-index: 1001;
}
.boton-arriba-modal {
	position:fixed;
	bottom: 70px;
	right: 8%;
	padding: 11px 14px;
	background-color: #337AB7;
	color: #FFFFFF;
	opacity: 0.7;
	border-radius: 22px;
	border: 1px solid #19609D;
	font-size: 21px;
}
.boton-arriba-modal:hover {
	opacity: 0.9;
}
.div-cargando {
    bottom: 0;
    color: black;
    font-size: 40px;
    left: 0;
    padding-top: 10%;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;
}
.fondo-cargando {
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0;
}
/*** Modal stock ***/
.boton-stock-articulo {
	min-width: 90px;
	background-color: transparent;
}
.boton-stock-articulo:hover {
	color: #555555;
	border-color: #555555;
}
.boton-stock-articulo.btn-danger, .boton-stock-articulo.btn-danger:focus, .boton-stock-articulo.btn-danger:active, .boton-stock-articulo.btn-danger:hover {
	color: #d43f3a;
	background-color: transparent;
}
.boton-stock-articulo.btn-warning, .boton-stock-articulo.btn-warning:focus, .boton-stock-articulo.btn-warning:active, .boton-stock-articulo.btn-warning:hover {
	color: #eea236;
	background-color: transparent;
}
.boton-stock-articulo.btn-success, .boton-stock-articulo.btn-success:focus, .boton-stock-articulo.btn-success:active, .boton-stock-articulo.btn-success:hover {
	color: #4cae4c;
	background-color: transparent;
}
#modal-stock-articulo .modal-dialog {
	margin-top: 60px;
	width: 500px;
	max-width: 90%;
}
#modal-stock-articulo table {
	margin: 0 auto;
}
#modal-stock-articulo table tr:not(:last-child) {
	border-bottom: 1px solid #CCCCCC;
}
#modal-stock-articulo table td {
	padding: 10px 25px;
}
#modal-stock-articulo table tr td:last-child {
	text-align: right;
}
#modal-stock-articulo .modal-footer {
	text-align: right;
}
#modal-stock-articulo .modal-footer .boton-cerrar-emergente {
	float: right;
}
#modal-stock-articulo .modal-stock-estado {
	float: left;
	margin: 0;
	padding-top: 7px;
}
#modal-stock-articulo .modal-stock-estado span {
	float: left;
}
#modal-stock-articulo #modal-stock-bolita-estado {
	margin-top: 2.5px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
}
#modal-stock-articulo #modal-stock-bolita-estado.estado-disponible {
	background-color: #5cb85c;
}
#modal-stock-articulo #modal-stock-bolita-estado.estado-proximamente {
	background-color: #f0ad4e;
}
#modal-stock-articulo #modal-stock-bolita-estado.estado-agotado {
	background-color: #d9534f;
}
#modal-stock-articulo #modal-stock-texto-estado {
	margin-left: 5px;
}

/*** vTiger forms ************************************************************************************************************************/
#__vtigerWebForm .form-control {
	width: 100%;
}
#__vtigerWebForm input[type="submit"] {
	display: block;
	float: right;
}
#__vtigerWebForm input[type="date"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0px 12px;
}
.container-vtiger .panel-heading {
  background-color: #337AB7;
}
/*** Keys Login **************************************************************************************************************************/
#nueva-key label {
	display: block;
	width: 100%;
}
#nueva-key option {
	padding: 10px;
	border-right: 1px solid #000000;
}
#nueva-key #key-login {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#nueva-key #generar-key {
	cursor: pointer;
	background-color: #337AB7;
	border: 1px solid #337AB7;
	color: #FFFFFF;
}
#nueva-key #generar-key:hover {
	background-color: #286090;
}
#listado-keys .borrar-key {
	display: block;
	margin: 0 auto;
}
/*** Configuración ***********************************************************************************************************************/
#configuracion h2 {
  margin: 0px 0px 20px;
}
/*** Importador de pedidos ***************************************************************************************************************/
#importador-pedidos h2 {
  margin: 0px 0px 20px;
}
#importador-pedidos select option {
  padding: 6px 12px;
}
