body {
	margin: 0;
}
#cssmenu{
	border:none;
	border:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	left: 0;
	right: 0;
	top: 0;
	z-index:1500;
	box-shadow: 0 0px 9px rgba(0, 0, 0, 0.6);
	margin-bottom: 50px;
	}
#cssmenu ul{
	background:#337ab7;
	height:50px;
	list-style:none;
	margin:0;
	padding:0;
	}
#cssmenu li{
	float:left;
	padding:0px;
	height:50px;
	}
#cssmenu li a{
	background:#337ab7;
	color:white;
	display:block;
	font-weight:normal;
	line-height:50px;
	margin:0px;
	padding:0px 15px;
	text-align:center;
	text-decoration:none;
	height:50px;
	vertical-align:middle;
	outline:none;
	}
#cssmenu li a:hover, #cssmenu ul li:hover a{
	background: #4BBDFF;
	color:#FFFFFF;
	text-decoration:none;
	}
#cssmenu li a.active{
	color:#A6E9FF;
	}
#cssmenu li ul{
	background:#337ab7;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:relative;
	width:100%;
	z-index:200;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
	}
#cssmenu li:hover ul{
	display:block;
	}
#cssmenu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:100%;
	}
#cssmenu li:hover li a{
	background:none;
	}
#cssmenu li ul a{
	display:block;
	height:50px;
	font-size:13px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:center;
	outline:none;
	}
#cssmenu li ul a:hover, #cssmenu li ul li:hover a{
	background:#4BBDFF;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}
#cssmenu p{
	clear:left;
}
.usuario-menu {
	float:right !important;
	min-width: 225px;
}
@media (max-width:659px) {
	#cssmenu ul{
		height:100px;
	}
}
@media (max-width:347px) {
	#cssmenu ul{
		height:150px;
	}
}
.has-sub > ul > li > a {
	background-color:#478ecb !important;
}
.has-sub > ul > li > a:hover {
	background-color:#4BBDFF !important;
}
#cssmenu hr {
	margin: 0px;
	border: 1px solid #4BBDFF;
}
.titulo-apartado {
	color: #337ab7;
	margin-top: 20px;
	padding: 0 !important;
}
.logo-menu {
	padding: 5px !important;
}
.logo-menu img {
	width: 40px;
	height: 40px;
}
