.container-propio {
    width: 95%;
    padding: 0px;
}
.user-row {
    margin-bottom: 14px;
}
.user-row:last-child {
    margin-bottom: 0;
}
.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}
.dropdown-user:hover {
    cursor: pointer;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.container-perfil {
	margin-top:25px;
	padding: 0px;
}
.container-perfil > .col-xs-12 {
	padding: 0px;
}
.panel {
	border-radius: 0;
	border: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
	cursor: pointer;
	-webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -ms-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    transition: box-shadow .5s;
}
.panel-heading {
	border-radius: 0;
	border: 1px solid #337AB7 !important;
}
.panel-body {
	border: 1px solid #F5F5F5;
}
h4 {
	margin: 0;
}
.pedidos-presupuestos {
	margin-top: 15px;
}
.icono-pedidos {
	font-size: 50px;
	color: #337AB7;
}
.padding-icono {
	padding: 12.5px 15px;
}
.info-borrador {
	line-height: 25px;
	text-align: center;
}
.info-borrador > div:first-child {
	min-height: 50px;
	font-weight: bold;
}
.panel-hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.eliminar-borrador {
	position:absolute;
	bottom: 20px;
	right: 15px;
	width: 40px;
	height: 40px;
	color: #E15159;
	font-size: 26px;
	text-align:center;
	padding:7px;
	cursor: pointer;
}
.eliminar-borrador:hover {
	color: #555;
}
.floatR {
	display:table;
	float:right;
}
.elemento-pedidos-presupuestos {
	margin-bottom: 10px;
}
.elemento-pedidos-presupuestos .panel-footer {
	min-height: 41px;
}
select option {
	padding: 10px;
}
a {
	text-decoration: none !important;
}
a:hover, a:focus {
	color: #337ab7;
	outline: none;
	outline-offset: none;
}
#mensaje-enviado {
	position:fixed;
	top: 15px;
	right: 15px;
	width: 300px;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.opaco {
	opacity: 1;
}
.transparente {
	opacity: 0;
}
