.celda-titulo-columna {
	background-color: #337AB7;
	color: white;
}
.fila-cliente {
	background-color:#A2C6E5;
	font-weight: bolder;
	color: #444;
}
.fila-cliente:hover {
	background-color:#A2C6E5 !important;
}
.fila-cliente td {
	padding: 10px !important;
}